#switch-block {
  --c: 0;
  --main: #e3f2fd;

  --dark: rgba(var(--c), var(--c), var(--c), 0.5);
  --darker: rgba(var(--c), var(--c), var(--c), 0.7);
  --darkest: rgba(var(--c), var(--c), var(--c), 0.9);

  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: var(--main);
}

#switch-block[theme="primary"] {
  --c: 255;
  --main: #007bff;
}

#switch-block[theme="dark"] {
  --c: 255;
  --main: #343a40;
}

#switch-block input[type="radio"] {
  display: none;
}

#switch-block label,
#switch-block .logo {
  position: relative;

  width: fit-content;

  padding: 8px;

  font-size: 16px;
  font-weight: 400px;
  font-family: sans-serif;

  color: var(--dark);

  user-select: none;
  cursor: pointer;

  transition: color 0.15s ease;
}

#switch-block label:hover {
  color: var(--darker);
}

#switch-block .logo {
  text-decoration: none;
  font-size: 20px;
  padding: 5px 0;
  margin-right: 16px;
  color: var(--darkest);
}

#switch-block input[type="radio"]:checked + label {
  color: var(--darkest);
}

#switch-block .content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;

  border: 3px solid var(--light-grey);

  opacity: 0;
  pointer-events: none;
}

#switch-block .content .relative {
  position: relative;
  padding: 40px;
}

#switch-block input[type="radio"]:checked + label + .content {
  opacity: 1;
  pointer-events: auto;
}
